<div class="login-wrapper d-flex justify-content-center align-items-center">
  <div class="login-card">

    <!-- Logo -->
    <div class="text-center mb-4">
      <img src="logo-wattle.png" alt="Logo" class="logo">
    </div>

    <h2 class="text-center mb-4 title">Iniciar Sesión</h2>

    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>

    <input type="email" [(ngModel)]="email" placeholder="Correo"
      class="form-control custom-input mb-3">

    <input type="password" [(ngModel)]="password" placeholder="Contraseña"
      class="form-control custom-input mb-3">

    <button class="btn login-btn w-100" (click)="login()">
      Ingresar
    </button>

  </div>
</div>